body.layout-card {
    @apply h-full min-h-screen w-full;
}
#page-login,
#page-passwordForgot {
    background: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .box {
        @apply w-1/4 mx-auto mt-24;
    }
}

$card-border-radius: 16px;

.card {
    @apply p-6 pb-8;
    border-radius: 0;
    border-top-left-radius: $card-border-radius;
    margin-top: -$card-border-radius;

    > h2 {
        @apply uppercase;
    }

    &:last-of-type {
        bottom: 0;
    }
}

.blue {
    background-image: linear-gradient(90deg, #4d85ea 0%, #3675e7 100%);
    color: white;
}

.orange {
    background-image: linear-gradient(90deg, #ff924d 0%, #fd7621 100%);
    color: white;
}

.white {
    background-color: white;
    color: black;
}

.green {
    background-image: linear-gradient(90deg, #04B431 0%, #00FF00 100%);
    color: white;
}

.violet {
    background-image: linear-gradient(90deg, #8000FF 0%, #FA58F4 100%);
    color: white;
}

.red {
    background-image: linear-gradient(90deg, #DF0101 0%, #FF0040 100%);
    color: white;
}
