#layout-panel {
    main {
        @apply w-full;
        @screen md {
            @apply flex flex-wrap flex-row;
            min-height: calc(100vh - 4rem);
        }
        > content {
            @apply bg-gray-100;
            @screen md {
                flex: calc(100% - 275px);
                height: calc(100vh - 4rem);
            }
            > .container {
                @screen md {
                    @extend %fancy-scrollbar;
                    @apply overflow-y-scroll px-8 pt-8 pb-12 h-full;
                }
            }
        }
    }
}
